##  Importation des données dans InfluxDB

In [8]:
import pandas as pd

## InfluxDB

In [9]:
from influxdb import DataFrameClient

In [25]:
# see https://influxdb-python.readthedocs.io/en/latest/examples.html#tutorials-pandas
"""Instantiate the connection to the InfluxDB client."""

host, port = 'localhost', 8086
user, password = 'root', 'root'
dbname = 'weatherdata'
protocol = 'line'

CLIENT = DataFrameClient(host, port, user, password, dbname)

print("Create database: " + dbname)
CLIENT.create_database(dbname)

Create database: weatherdata

In [26]:
# /!\ delete /!\
# CLIENT.drop_database( dbname  )

In [27]:
coords = (45.1973288, 5.7139923)

In [28]:
firstday = '2017-10-01'
lastday = '2017-10-11'

daterange = pd.date_range(start=firstday, end=lastday,  freq='D', normalize=True)
daterange_iso = daterange.strftime('%Y-%m-%dT%H:%M:%SZ')

## Darksky

In [20]:
from darksky import forecast

# """ You get 1,000 API calls for free each day. """

# Load the API key for darksky
with open('darksky_key.txt') as f:
    KEY = f.read()

EXCLUDE = ['currently', 'minutely', 'daily', 'flags']  # from the query

In [29]:
def query2dataframe( coords,  day ):
    # query
    data = forecast(KEY, *coords, units='si', lang='fr', time=day, exclude=EXCLUDE)
    
    print('get data for %s' % day)
    
    # build the DataFrame from records (dict)
    records = data['hourly']['data']  
    weatherdataDF = pd.DataFrame.from_records(records, index='time')

    weatherdataDF.index = pd.to_datetime(weatherdataDF.index, unit='s')
    
    # debug: force les valeurs en flottant  ( plutôt que Int à cause des NaN ) 
    cols_int = list( weatherdataDF.select_dtypes(include=['int']).columns )
    for c in cols_int:
        weatherdataDF[c] = weatherdataDF[c].dropna().astype(float)
        
    return weatherdataDF

In [30]:
def dataFrame2influx( measurement_name, DF ):
    # Ajoute colone par colones pour retirer les NaN...
    for c in DF.columns:
        CLIENT.write_points(DF[[c]].dropna(), measurement_name)
        
def add1day( measurement_name, coords, day ):
    weatherdataDF = query2dataframe( coords,  day )
    dataFrame2influx( measurement_name, weatherdataDF )

In [31]:
measurement_name = 'darksky'

In [32]:
for d in daterange_iso:
    add1day( measurement_name, coords, d )

get data for 2017-10-01T00:00:00Z
get data for 2017-10-02T00:00:00Z
get data for 2017-10-03T00:00:00Z
get data for 2017-10-04T00:00:00Z
get data for 2017-10-05T00:00:00Z
get data for 2017-10-06T00:00:00Z
get data for 2017-10-07T00:00:00Z
get data for 2017-10-08T00:00:00Z
get data for 2017-10-09T00:00:00Z
get data for 2017-10-10T00:00:00Z
get data for 2017-10-11T00:00:00Z

### debug

In [370]:
weatherdataDF = query2dataframe( coords,  '2017-09-02T00:00:00Z' )

get data for 2017-09-02T00:00:00Z

## EmonCMS

In [33]:
import emoncmsfeed as getfeeds

In [34]:
dataframefreq = '15min'
feeds =  { 'T_int': 3 }

In [35]:
measurement_name = 'openenergymonitor'

In [36]:
for i in range( len( daterange_iso )-1 ):
    startday = pd.to_datetime(daterange_iso[i], format='%Y-%m-%dT%H:%M:%SZ')
    lastday = pd.to_datetime(daterange_iso[i+1], format='%Y-%m-%dT%H:%M:%SZ')
    
    data = getfeeds.builddataframe( feeds, dataframefreq , startdate=startday, enddate=lastday )
    
    # Ajoute colone par colones pour retirer les NaN...
    for c in data.columns:
        CLIENT.write_points(data[[c]].dropna(), measurement_name)

# Irradiation solaire

In [37]:
import sunradiation as sun

In [38]:
query = 'SELECT cloudCover FROM darksky'

In [40]:
cloudcover = CLIENT.query(query)
cloudcoverDF = cloudcover['darksky']

In [41]:
cloudcoverDF = cloudcoverDF.resample('15min').interpolate()

In [42]:
sundata = sun.buildmultidayDF( coords, cloudcoverDF.index, cloudCover = cloudcoverDF['cloudCover']  )

/home/etienne/Projets/thermique_appart/py3/lib/python3.5/site-packages/pysolar/time.py:105: UserWarning: I don't know about leap seconds after 2015
  (leap_seconds_base_year + len(leap_seconds_adjustments) - 1)

In [43]:
measurement_name = 'sundata'

# Ajoute colone par colones pour retirer les NaN...
for c in sundata.columns:
    CLIENT.write_points(sundata[[c]].dropna(), measurement_name)

### Projection sur les surfaces vitrées

In [44]:
# surface (m2),  sigma (deg),  azimuth (deg)
windows = { 'bastille':(1.2*0.8,    37, 50) ,
            'cuisine':(0.3*0.72 *2, 90, 50 ),
            'chambre':(0.3*0.72 *2, 90, 180+50),
            'vercors':(0.6*0.8 * 2, 37, 180+50) }

In [47]:
sunFlux_dict = {}

for k, values in windows.items():
    sunFlux_dict['flux_'+k] = values[0] * sun.projectDF( values[1], values[2], sundata )

sunFlux_DF = pd.DataFrame( sunFlux_dict )

# Somme
sunFlux_DF['flux_tot'] = sunFlux_DF.sum(axis=1)

In [48]:
sunFlux_DF

,flux_bastille,flux_chambre,flux_cuisine,flux_vercors,flux_tot
2017-06-20 04:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-20 04:15:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-20 04:30:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-20 04:45:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-20 05:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-20 05:15:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-20 05:30:00+00:00,237.149653,0.000000,105.673584,0.000000,342.823236
2017-06-20 05:45:00+00:00,291.745678,0.000000,124.817429,0.000000,416.563107
2017-06-20 06:00:00+00:00,345.235859,0.000000,142.234971,0.000000,487.470830
2017-06-20 06:15:00+00:00,397.093150,0.000000,157.878868,0.000000,554.972018
2017-06-20 06:30:00+00:00,446.921047,0.000000,171.728922,0.000000,618.649969
2017-06-20 06:45:00+00:00,494.401902,0.000000,183.777157,2.846996,681.026055
2017-06-20 07:00:00+00:00,539.270186,0.000000,194.022232,20.312436,753.604854
2017-06-20 07:15:00+00:00,581.298087,0.000000,202.467605,39.751213,823.516906
2017-06-20 07:30:00+00:00,620.287488,0.000000,209.121182,60.944071,890.352741
2017-06-20 07:45:00+00:00,656.065408,0.000000,213.995519,83.684439,953.745366
2017-06-20 08:00:00+00:00,688.481374,0.000000,217.108197,107.774820,1013.364391
2017-06-20 08:15:00+00:00,717.405889,0.000000,218.482194,133.024259,1068.912343
2017-06-20 08:30:00+00:00,742.729535,0.000000,218.146198,159.246605,1120.122338
2017-06-20 08:45:00+00:00,764.362449,0.000000,216.134837,186.259372,1166.756659
2017-06-20 09:00:00+00:00,782.234008,0.000000,212.488841,213.883001,1208.605850
2017-06-20 09:15:00+00:00,796.292618,0.000000,207.255115,241.940432,1245.488165
2017-06-20 09:30:00+00:00,806.505563,0.000000,200.486764,270.256913,1277.249239
2017-06-20 09:45:00+00:00,812.858867,0.000000,192.243051,298.659951,1303.761869
2017-06-20 10:00:00+00:00,815.357150,0.000000,182.589323,326.979382,1324.925855
2017-06-20 10:15:00+00:00,814.023462,0.000000,171.596888,355.047529,1340.667879
2017-06-20 10:30:00+00:00,808.899098,0.000000,159.342869,382.699399,1350.941366
2017-06-20 10:45:00+00:00,800.043380,0.000000,145.910045,409.772904,1355.726329
2017-06-20 11:00:00+00:00,787.533413,0.000000,131.386663,436.109112,1355.029187
2017-06-20 11:15:00+00:00,771.463814,0.000000,115.866254,461.552472,1348.882539
...,...,...,...,...,...
2017-10-11 09:45:00+00:00,745.342870,0.000000,289.550901,0.000000,1034.893771
2017-10-11 10:00:00+00:00,747.351910,0.000000,279.647438,0.000000,1026.999348
2017-10-11 10:15:00+00:00,744.450641,0.000000,267.854215,28.012018,1040.316873
2017-10-11 10:30:00+00:00,736.785883,0.000000,254.334051,56.510095,1047.630029
2017-10-11 10:45:00+00:00,724.512195,0.000000,239.244788,84.596162,1048.353144
2017-10-11 11:00:00+00:00,707.795193,0.000000,222.742045,112.019597,1042.556835
2017-10-11 11:15:00+00:00,686.818025,0.000000,204.982490,138.544505,1030.345020
2017-10-11 11:30:00+00:00,661.773870,0.000000,186.122484,163.945838,1011.842192
2017-10-11 11:45:00+00:00,632.875693,0.000000,166.322068,188.008496,987.206257
2017-10-11 12:00:00+00:00,600.355739,0.000000,145.745527,210.525305,956.626571
2017-10-11 12:15:00+00:00,564.469122,0.000000,124.563098,231.296038,920.328258
2017-10-11 12:30:00+00:00,525.489507,0.000000,102.950958,250.123138,878.563602
2017-10-11 12:45:00+00:00,483.719810,0.000000,81.094939,266.812464,831.627213
2017-10-11 13:00:00+00:00,439.492011,0.000000,59.191854,281.169581,779.853446
2017-10-11 13:15:00+00:00,393.171756,0.000000,37.452502,292.996296,723.620554
2017-10-11 13:30:00+00:00,345.164874,0.000000,16.105841,302.086042,663.356757
2017-10-11 13:45:00+00:00,295.926772,4.595166,0.000000,308.217616,608.739554
2017-10-11 14:00:00+00:00,245.975854,24.365221,0.000000,311.146326,581.487401
2017-10-11 14:15:00+00:00,195.913336,42.874532,0.000000,310.591279,549.379147
2017-10-11 14:30:00+00:00,146.453045,59.730757,0.000000,306.216899,512.400701
2017-10-11 14:45:00+00:00,98.467114,74.451710,0.000000,297.605592,470.524415
2017-10-11 15:00:00+00:00,53.057605,86.423308,0.000000,284.216916,423.697828
2017-10-11 15:15:00+00:00,11.670878,94.834020,0.000000,265.326602,371.831499
2017-10-11 15:30:00+00:00,0.000000,98.572880,0.000000,239.938504,338.511384
2017-10-11 15:45:00+00:00,0.000000,96.078975,0.000000,206.675364,302.754339
2017-10-11 16:00:00+00:00,0.000000,85.172979,0.000000,163.738051,248.911031
2017-10-11 16:15:00+00:00,0.000000,63.205512,0.000000,109.485017,172.690530
2017-10-11 16:30:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-10-11 16:45:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000
2017-10-11 17:00:00+00:00,0.000000,0.000000,0.000000,0.000000,0.000000

In [49]:
measurement_name = 'sundata'

# Ajoute colone par colones pour retirer les NaN...
for c in sunFlux_DF.columns:
    CLIENT.write_points(sunFlux_DF[[c]].dropna(), measurement_name)

In [51]:
sunFlux_DF.index

DatetimeIndex(['2017-06-20 04:00:00+00:00', '2017-06-20 04:15:00+00:00',
               '2017-06-20 04:30:00+00:00', '2017-06-20 04:45:00+00:00',
               '2017-06-20 05:00:00+00:00', '2017-06-20 05:15:00+00:00',
               '2017-06-20 05:30:00+00:00', '2017-06-20 05:45:00+00:00',
               '2017-06-20 06:00:00+00:00', '2017-06-20 06:15:00+00:00',
               ...
               '2017-10-11 14:45:00+00:00', '2017-10-11 15:00:00+00:00',
               '2017-10-11 15:15:00+00:00', '2017-10-11 15:30:00+00:00',
               '2017-10-11 15:45:00+00:00', '2017-10-11 16:00:00+00:00',
               '2017-10-11 16:15:00+00:00', '2017-10-11 16:30:00+00:00',
               '2017-10-11 16:45:00+00:00', '2017-10-11 17:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=10901, freq='15T')